# ---> Go
*.o
*.a
*.so

_obj
_test

*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.directory
mods/
logs/
config/
.idea/
*.dat
*.key
*.dat

ss-client/ss-client
ss-client/Updater-linux
ss-client/*.sig
ss-client/Updater-mac
ss-client/Updater.exe
ss-server/ss-server
